<div header id=header__ID>
    <nav id=nav__ID class="navbar navbar-expand-md navbar-dark">
		<div id=brand__ID>
	        <a class="navbar-brand d-none d-lg-inline-block" onclick="$vm.nav_load_module('main_home');">
	        	<div class=large_logo__ID>
		        	<div class="logo_image__ID"></div>
		        </div>
	        </a>
	        <a class="navbar-brand d-lg-none" onclick="$vm.nav_load_module('main_home');">
	            <div class=small_logo__ID>Woolcock</div>
	        </a>
		</div>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars__ID" aria-controls="navbars__ID" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbars__ID" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('main_home');"><i class="fa fa-home"></i> Home</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('main_main_panel');"><i class="fa fa-th"></i> Night Study</a></li>
                <li><a class="nav-link" onclick="$vm.nav_click_process('vm_signinout');" name=signinout><i class="fa fa-user"></i> Sign In/Out</a></li>
            </ul>
        </div>
    </nav>
    <script>
        //---------------------------------------------
        if($vm.user=='guest'){
            $('a[name=signinout]').html('<i class="fa fa-user"></i> Sign In')
            $('#username__ID').text('');
        }
        else{
            $('a[name=signinout]').html('<i class="fa fa-user"></i> Sign Out')
            $('#username__ID').text('Signed in as '+ $vm.user);
        }
        //---------------------------------------------
    </script>
    <style>
        #header__ID{
            background: rgba(255,255,255,1);
			border-bottom: 1px solid #000;
        }
		#nav__ID{
	        z-index:99;
			padding:0;
        }
		.large_logo__ID{
            color:#fff;
            padding-left:230px;
            display:table;
        }
		.logo_image__ID{
			width:370px;
			height:90px;
			background: url('images/logo.jpg') no-repeat;
			background-size: cover;
		}
        .small_logo__ID{
            color:#fff;
			font-size: 150%;
        }
		#navbars__ID{
	        padding-top:55px;
            padding-left:290px;
        }
		#navbars__ID a{
			color:#000;
            cursor:pointer;
        }
		#navbars__ID a:hover{
			color:red;
        }
		@media screen and (max-width:768px){
			#nav__ID{
	        	padding:0 10px;
				background-color:#555;
			}
			#header__ID a{
				color:#000;
	            cursor:pointer;
	        }
			#header__ID a:hover{
				color:red;
	            cursor:pointer;
	        }
	        #navbars__ID{
		        padding-top:5px;
		        padding-left:5px;
	        }
			#navbars__ID a{
				color:#fff;
	        }
	        #form__ID{
		        padding-right:0px;
	        }
		}
    </style>
</div>
